.heroSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  height: 92vh;
  background-image: url("./src/assets/HeroSectionPhoto.jpg");
  background-size: cover;
  color: #4f200d;
}
.heroPictureBlock {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
/* .heroImageBlock {
  display: flex;

} */
.heroImage {
  border-radius: 10px;
  width: 207px;
  height: auto;
  object-fit: cover;
}
.heroTitle {
  position: relative;
  z-index: 8;
  top: -19rem;
  left: 50%;
  transform: translateX(-50%);
}
