.productSection {
  background-color: rgb(251, 225, 239);
  color: #4f200d;
  position: relative;
  z-index: 3;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
}

.productItem {
  border-radius: 5px;
  box-shadow: 4px 14px 8px 0px rgba(34, 60, 80, 0.2);
  width: 15rem;
  height: 24rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 2rem 4rem 2rem;
}
.productItem:hover {
  border: 1px solid #ff69b4;
  box-sizing: border-box;
  box-shadow: 4px 14px 12px 0px rgba(34, 60, 80, 0.4);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.productTitle {
  color: #7f8c8d;
}
.productImage {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.productDescription {
  color: #7f8c8d;
  font-size: small;
  border-top: 1px solid #ff69b4;
  border-bottom: 1px solid #ff69b4;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.productSizes {
  color: #7f8c8d;
  font-size: small;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.productName {
  color: #7f8c8d;
  border-radius: 5px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.addToCartButton {
  text-decoration: none;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #ff1493;
}
