.heroBlock {
  font-family: "Bona Nova SC", serif;
  font-weight: 200;
  font-style: normal;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  /* max-width: 100%;
  height: auto;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 2rem 0;
}
.heroImageBlock {
  position: relative; /* чтобы текст позиционировался поверх картинки */
  width: 100%;
}

.heroTitle {
  width: 300px;
  position: absolute; /* поверх изображения */
  top: 25%; /* по центру вертикали */
  left: 11%; /* по центру горизонтали */
  transform: translate(-50%, -50%); /* ровно центр */
  color: #fbe1ef;

  text-align: center;
  font-size: clamp(1rem, 5vw, 2rem);
  max-width: 80%;
  text-shadow: 2px 2px 2px aliceblue;
  /* max-width: 20rem;
  max-height: 5rem;
  position: relative;
  z-index: 1;
  top: 20rem;
  left: 10rem;
  color: aliceblue; */
}
.heroImage {
  width: 100%; /* картинка на всю ширину */
  height: 740px;

  object-fit: cover;
  display: block;
  /* width: 100%;
  height: auto;
  object-fit: cover; */

  /* border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px; */
}
