.trustSection {
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 3;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  color: #4f200d;
}

.trustBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.trustTitle {
  color: #7f8c8d;
}
.trustDescription {
  color: #7f8c8d;
}
.trustItem {
  color: #7f8c8d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 13rem;
  margin: 1rem;
  border-radius: 10px;
}

.trustImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 3px solid rgb(251, 225, 239);
  border-radius: 0 60% 60% 40%;
}

.trustDescription {
  text-align: center;
  font-size: 0.875rem;
}
.trustReturnButton {
  background-color: #ff69b4;

  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.trustReturnButton a {
  color: white;
  text-decoration: none;
}
