---
import TrustBlock from '../trustBlock/TrustBlock.astro';
import HeroBlock from '../heroBlock/HeroBlock.astro';
import ProductView from '../productView/ProductView.astro';
import ProblemSolvingBlock from '../problemSolvingBlock/ProblemSolvingBlock.astro';
import HeroSection from '../heroSection/HeroSection.astro';
import OpacitySection from '../opacitySection/OpacitySection.astro';
---
<main>
    
    <HeroBlock/>
    <HeroSection/>
    <OpacitySection/>
    <ProductView/>
    <ProblemSolvingBlock/>
    <TrustBlock/>
</main>