---
import TrustBlock from '../trustBlock/TrustBlock.astro';
import HeroBlock from '../heroBlock/HeroBlock.astro';
import ProductList from '../productList/ProductList.tsx';
import ProblemSolvingBlock from '../problemSolvingBlock/ProblemSolvingBlock.astro';
import HeroSection from '../heroSection/HeroSection.astro';
import OpacitySection from '../opacitySection/OpacitySection.astro';
---
<main> 
    <HeroBlock/>
    <HeroSection/>
    <OpacitySection/>
    <ProductList client:only="react"/>
    <ProblemSolvingBlock/>
    <TrustBlock/>
</main>