.siteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navMenu a {
  text-decoration: none;
  color: black;
}
