/* .siteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.siteHeader {
  position: relative;
  z-index: 3;
  font-family: "Bona Nova SC", serif;
  font-weight: bold;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 2rem 0 0;
}
.navMenu {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navMenu a {
  text-decoration: none;
  color: #4f200d;
}
