.footerBlock {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2rem 0 0;
  padding: 1rem 0;
}

.footerText {
  font-size: 0.875rem;
  color: #666;
}
