---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import styles from './Layout.module.css';
---



<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../assets/astro.svg" sizes="32x32"/>
         <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Landing Page</title>
		<ClientRouter />
	</head>
	<body class={styles.body}>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

